h1{
    font-family: "itim", cursive;
}
h2{
    font-family: "Oswald", cursive;
}
p{
    font-family: "Noto Sans JP", cursive;
    text-align: center;
}
#enviar{
    margin-left: auto;
    margin-right: auto ;
}
a{
    color: white;
}
#aviso{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.inputNumber{
    margin-left: 5%;
    margin-right: 5%;
}
input.inputNumber{
    width: 250px;
}
div{
    margin-top: 50px;
}
#numeroTramite{
    margin-left: 5%;
    margin-right: 5%;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    border: black 2px solid;
}
button{
    margin-left: 5%;
    margin-right: 5%;
}